body {
  background: #f9f7fe;
  max-width: 100%;
}
* {
  max-width: 100%;
}
.App-header {
  background: #344053;
  min-height: 20vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  box-shadow: 0 30px 30px rgb(65 50 100 / 4%);
}

.App-link {
  color: #61dafb;
}
.inline {
  display: inline-flex;
}
main {
  text-align: center;
  background: #f9f7fe;
}
main > div {
  max-width: 100%;
  background: #f9f7fe;
}
footer {
  margin-top: 60px;
}
.App h1 {
  color: beige;
  padding: 20px;
  margin: 50px auto 30px auto;
}

.Phonetics h1 {
  /*
  background: #344053;
  color: white;*/
  color: #176faa;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  text-align: center;
}
.section {
  box-shadow: 0 30px 50px rgb(65 50 100 / 10%);
  border-radius: 8px;
  background: white;
  margin-top: 10px;
  padding: 40px 100px 60px;
  max-width: 65%;
}

.Photos img {
  border-radius: 8px;
  margin-bottom: 20px;
}
span.synonym-color {
  color: #3eb8da;
}
span.synonym-color:nth-of-type(2n + 1) {
  color: #176faa;
}
.pink-title {
  color: #ed4e6b;
  font-size: 28px;
}
h2,
h5 {
  text-align: center;
  margin: 30px auto 40px auto;
}
.row {
  margin-right: 0;
}
.Results {
  background: #f9f7fe;
}
.Definition strong {
  padding-right: 20px;
}
.Definition span::first-letter {
  text-transform: capitalize;
}
.Example strong {
  margin-left: 0.78em;
  padding-right: 20px;
}
.Example em::first-letter {
  text-transform: capitalize;
}
.Synonyms strong {
  padding-right: 20px;
}
@media (max-width: 690px) {
  .App header {
    padding: 0;
    font-size: 42px;
  }
  .container {
    font-size: 42px;
  }
  h1 {
    font-size: 36px;
    margin-top: 20px;
  }
  .section {
    padding: 30px;
    margin-right: 10px;
    font-size: 16px;
    max-width: 100%;
    text-align: center;
  }
  .section strong {
    font-size: 16px;
  }
  .Definition em,
  .section span {
    padding-right: 0px;
  }

  i.pink-title {
    font-size: 26px;
  }
}
